<div class="container-fluid col-xxl-7">

    <table class="table" *ngIf="winnerBids">
        <thead>
            <tr>
                <th scope="col">Winner unique bid id</th>
                <th scope="col">Winner sum</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bid of winnerBids">
                <td scope="row">{{bid.id}}</td>
                <td>{{bid.price}}</td>
            </tr>
        </tbody>
    </table>



    <div class="ms-5 d-inline" *ngIf="selectedAuctionElementId">
        <h3>Add new bid to auction element {{selectedAuctionElementId}}</h3>
       <div>
            <label>Price</label>
            <input type="number" min="500" class="form-control w-25" [(ngModel)]="newBid.price">
            <button class="btn btn-warning" (click)="addNewBid()">Add new bid</button>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Unique bid id</th>
                <th scope="col">Sum</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bid of bids">
                <td scope="row">{{bid.id}}</td>
                <td>{{bid.price}}</td>
            </tr>
        </tbody>
    </table>
    </div>  
<div class="d-inline">
    <h3>Add new auction element</h3>
    <div>
        <label>Description</label>
        <input name="description" #name="ngModel" class="form-control w-25" [(ngModel)]="newAuct.description">
    </div>
   <div>
        <label>Starting bid (price)</label>
        <input type="number" class="form-control w-25" [(ngModel)]="newAuct.startingBid">
    </div>
    <div>
        <label>End date time</label>
        <input type="datetime-local" class="form-control w-25" [(ngModel)]="newAuct.endTime">
        <button class="btn btn-secondary" (click)="addNewAuctItem()">Add new auction item</button>
    </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">End time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auct of auctElements">
            <td scope="row">{{auct.id}}</td>
            <td>{{auct.description}}</td>
            <td>{{getTimeLeftStr(auct.remainder)}}</td>
            <td>
                <button class="btn btn-success" (click)="selectAuctionElementId(auct.id)">Bids</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

</div>  