<div class="container-fluid col-xxl-8">
    <div class="ms-5 d-inline" *ngIf="selectedAuctionElementId">
        <h4>Add new bid to auction element {{selectedAuctionElementId}}</h4>
       <div>
            <label>Price</label>
            <input type="number" min="500" class="form-control w-50" [(ngModel)]="newBid.price">
            <button class="btn btn-warning" (click)="addNewBid()">Add new bid</button>
        </div>
    </div>  

<div class="d-inline">
    <h3>Add new auction element</h3>
    <div>
        <label>Description</label>
        <input name="description" #name="ngModel" class="form-control w-25" [(ngModel)]="newAuct.description">
    </div>
   <div>
        <label>Starting bid (price)</label>
        <input type="number" class="form-control w-25" [(ngModel)]="newAuct.startingBid">
    </div>
    <div>
        <label>End date time</label>
        <input type="datetime-local" class="form-control w-25" [(ngModel)]="newAuct.endTime">
        <button class="btn btn-secondary" (click)="addNewAuctItem()">Add new auction item</button>
    </div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">Start price</th>
            <th scope="col">End time</th>
            <th scope="col">Last bid id</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auct of auctElements">
            <td scope="row">{{auct.id}}</td>
            <td>{{auct.description}}</td>
            <td>{{auct.startingBid}}</td>
            <td>
                <div *ngIf="auct.endAuction">
                    <h5 class="text-danger">Time is over!</h5>
                </div>
                <div *ngIf="!auct.endAuction">
                    <h5>{{getTimeLeftStr(auct.remainder)}}</h5>
                </div>
            </td>
            <td>{{auct.winnerBid?.id}}</td>
            <td>{{auct.winnerBid?.price}}</td>
            <td *ngIf="!auct.endAuction">
                <button class="btn btn-primary" (click)="selectAuctionElementId(auct.id)">Add new bid</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

</div>  